body {
    font-family: Assistant, sans-serif;
    color: #0a2233;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}


.main {
    background-image: url(https://media.istockphoto.com/id/537807534/photo/smartphone-in-nature.webp?s=1024x1024&w=is&k=20&c=_rjU-_q9XmNX7MSD9L6FizUCZq6rllOLa3GGHj1pgzQ=);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .body {
    background-repeat: no-repeat;
} */



/* .hero {
    background-image: url(https://img.goodfon.com/wallpaper/nbig/6/94/nature-beautiful-sunset.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 120%;
    height: 100vh;
} */


.login {
    border: solid 2px color green;
    background-color: green;
    text-decoration: none;
    border-radius: 50px;
    color: #fff;
    padding: 8px 20px;
    font-size: 15px;
    transition: 0, 3s linear;
}

.login:hover {
    background-color: lightseagreen;
}

.navbar-toggler {
    border: none;
}

.offcanvas-body {
    margin: 8px;
    /* color: #fff; */

}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    font-weight: 500;
    position: relative;
    color: white;
    font-size: 25px;
    /* background-color: #fff; */
}

.nav-link:hover,
.nav-link.active {
    color: green;
}

@media (min-width: 991px) {
    .nav-link::before {

        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        background-color: green;
        visibility: hidden;
        transition: 0.4s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link::before {

        width: 100%;
        visibility: visible;
    }
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: green;
    visibility: hidden;
    transition: 0.4s ease-in-out;
}

.nav-link:hover::before {
    width: 100%;
    visibility: visible;
}

.me-auto {
    color: rgb(255, 0, 0);
    font-weight: 700;
    transition: 0.3s color;
    font-size: 25px;
    /* background-color: #c90a0a; */
}

/* .offcanvas-body.navbar-nav .nav-item.nav-link mx-lg-2 active {
    color: #fff;
} */
.navbar {
    /* background-color: #fff;
    height: 80px; */
    color: #fff;
    /* background: url(https://miro.medium.com/v2/resize:fit:1400/1*nyU2IcNL3TVxZ_GPkkmt2g.png) #fff; */
    height: 80px;
    background-color: #fff;

    
    /* border: 5px solid white; */
    margin-top: 10px;
}

/* .nabar a{
    color: #fff;
}
.justify-content-center{
    color: #fff;
} */
/* .offcanvas-title{
    color: rgb(8, 98, 45);
    font-weight: 700;
    transition: 0.3s color;
    font-size: 25px;
 } */
.am {
    justify-content: center;
    align-items: center;
}

.hero .am {
    position: relative;
}
ul {
    list-style: none;
}

.newnav {
    display: flex;

}

.hover-links {
    list-style: none;
}

a:hover {
    text-decoration: none;
}



.new {
    margin-top: 45px;
}

.mt15 {
    margin-top: 15px;
}

.pad-tb {
    padding-top: 90px;
    padding-bottom: 90px;
}

.aman {
    padding: 0;
    text-align: center;
}

.aman h2 {
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 20px;
}

.aman p {
    font-size: 18px;
}

.v-center {
    align-self: center;
}


/* .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding-top: 0;
    padding-bottom: 0;
    height: 70px;
} */


.front {
    position: relative;
    overflow: hidden;
    background: url(https://clipart-library.com/images/yikrkByMT.jpg) #fff;
    padding-top: 170px;
    padding-bottom: 170px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.header-heading {
    margin: 0 50px 0 0;
}

.header-heading h1 {
    font-weight: 700;
    font-size: 55px;
    line-height: 1.3;
    margin-bottom: 25px;
}

.header-heading p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 35px;
    font-weight: 500;
}

.single-image .item {
    border-radius: 6px 6px 6px 50px;
    overflow: hidden;
}



.project-card-:hover {
    box-shadow: 0 0 10px #e6e3e3;
    top: -5px;
}

.project-card- {
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    top: 0;
    position: relative;
}

.project-card img {
    width: 100%;
}

.apartments-list {
    overflow-x: hidden;
    background: #fff;
    padding-bottom: 80px;
}

.apartments-list .mt45 {
    margin-top: 35px;
}

.apartments-list .owl-stage {
    padding-bottom: 10px;
    padding-top: 10px;
}

.apartments-list .owl-stage-outer {
    position: relative;
}

.home-details {
    padding: 20px;
    border: 1px solid #e8e8ef;
    border-radius: 0 0 6px 6px;
}

.home-details h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 4px 0;
}

.feature-list {
    margin: 10px 0 0 0;
    color: #0a2233;
}

.feature-list li {
    display: inline-block;
    padding: 0 15px 0 0;
}

.feature-list li i {
    padding: 0 5px 0 0;
    font-size: 16px;
}

.feature-section {
    background: url(https://images.all-free-download.com/images/graphicwebp/blue_abstract_background_310971.webp) #f4f6f8;
}

.feature-image {
    border-radius: 6px 6px 6px 50px;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
}

.section {
    background: url(https://images.all-free-download.com/images/thumbjpg/blue_abstract_background_310971.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cardd:hover {
    box-shadow: 0 0 10px #e6e3e3;
    top: -5px;
}

.cardd {
    text-align: center;
background-color: #7cb2f8;
    border-radius: 6px;
    padding: 20px;
    margin: 5px 0;
    top: 0;
    position: relative;
    border: 1px solid #fee4e5;
    cursor: grab;
}

.cardd-icon {
    width: 70px;
    margin: 0 auto 15px;
    background-color: #30c927;

    padding: 8px;
}

.cardd h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 4px 0;
}

.cardd p {
    font-size: 16px;
}



.nav-filter {
    margin: 45px auto 0;
    display: table;
}

.nav-filter .nav-tabs {
    border-bottom: 0 solid #dee2e6;
}

.nav-filter .nav-item .nav-link1.active {
    color: #fff;
    background: #5ef853;
}

.nav-tabs .nav-item {
    margin: 0 10px 10px 10px;
}

.nav-filter .nav-item .nav-link1 {
    color: #0a2233;
    line-height: 1;
    font-family: Merriweather;
    padding: 10px 20px;
    border: 0;
    background: #d5ffda;
    border-radius: 6px;
    font-size: 15px;
    text-align: center;
    display: block;
}

.specification-section {
    background: #fff;
}

.list-features li {
    color: #0a2233;
    background: url(../images/common/check-mark.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 5px 2px;
    padding-left: 30px;
    margin-top: 10px;
}

.h4-heading {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.chapter:before {
    content: "";
    position: absolute;
    background: rgba(10, 34, 51, 0.9);
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
}

.chapter{
    background: url(../images/common/dots.png);
    position: relative;
}

.mt30 {
    margin-top: 30px;
}

.mt30a {
    margin-top: 30px;
}

.-heading p {
    font-size: 36px;
    font-weight: 800;
    color: #fff;
    line-height: 1.5;
    font-family: Merriweather;
}

.cta:hover {
    background-color: #0a2233;
    color: #fff;
    top: -5px;
    box-shadow: 0 5px 10px rgba(10, 34, 51, 0.2);
}

.cta {
    font-size: 16px;
    font-weight: 400;
    font-family: Merriweather;
    padding: 0 45px;
    line-height: 60px;
    text-align: center;
    outline: 0;
    color: #fff;
    background-color: #f85359;
    border: none;
    border-radius: 6px;
    display: inline-block;
    top: 0;
    position: relative;
}

.cta:hover {
    color: #fff !important;
}

.mt20 {
    margin-top: 12px;
}

.cta-text {
    align-self: center;
}

.gallery-section {
    background: #f4f6f8;
}

.gallery-:hover {
    box-shadow: 0 0 10px #e6e3e3;
    top: -5px;
}

.gallery- {
    position: relative;
    top: 0;
    -webkit-box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    margin: 30px 0 0 0;
}

.gallery- a img {
    display: block;
    border-radius: 6px;
}

.location-section iframe {
    width: 100%;
    height: 300px;
    border-radius: 6px;
}

.loc-adlit li {
    list-style: none;
    padding: 0 0 5px 0;
    font-size: 16px;
}

.loc-adlit li span {
    list-style: none;
    text-align: right;
    float: right;
    font-weight: 700;
}

.agent-section {
    background: #fff5f5;
}

.agent-photo img {
    width: 200px;
    border-radius: 6px;
}

.social-links- a {
    color: #0a2233;
    display: inline-block;
    line-height: 1;
    font-size: 15px;
    border: 1px solid #e8e8ef;
    padding: 8px;
    width: 32px;
    height: 32px;
    text-align: center;
    margin: 0 10px 0 0;
    border-radius: 4px;
}
.Second{
    background: url(https://img.freepik.com/premium-vector/light-blue-background-sky-blue-background_851674-52.jpg?semt=ais_hybrid);
}

.social-links- {
    margin: 10px 0 0 0;
}

.agent-details h5 {
    margin: 0 0 4px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
}

.agent-details p {
    font-size: 16px;
    padding: 0 0 10px 0;
}

.agent-details p span {
    font-weight: 600;
}

.agent-photo:hover {
    box-shadow: 0 0 10px #e6e3e3;
    top: -5px;
}

.agent-photo {
    text-align: left;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    -webkit-box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    position: relative;
    top: 0;
    border: 1px solid #e8e8ef;
}

.reviews-card:hover {
    box-shadow: 0 0 10px #e6e3e3;
    top: -5px;
}

.reviews-section .owl-carousel .owl-dots {
    margin: 5px 0 0 0;
}

.reviews-card span {
    font-size: 30px;
    color: #f85359;
}

.reviews-card {
    text-align: center;
    background: url(../images/common/pricing-bottom-bg.png) #fff;
    border-radius: 6px;
    padding: 30px;
    margin: 5px 0;
    -webkit-box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    position: relative;
    top: 0;
    border: 1px solid #e8e8ef;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto;
    cursor: grab;
}

.reviews-card img {
    border-radius: 100px;
    max-width: 140px;
    margin: 0 auto 15px;
}

.reviews-card h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0 0 0;
}

.reviews-card h4 span {
    font-weight: 400;
    display: block;
    font-size: 16px;
    margin: 8px 0 20px 0;
    color: #0a2233;
    font-family: Assistant, sans-serif;
}

.project-logo-section {
    background: #f4f6f8;
}

.project-logo img {
    margin: 0 auto;
    display: block;
}

.opl ul {
    overflow: hidden;
}

.opl ul li:before {
    content: "";
    height: 100%;
    top: 0;
    left: -1px;
    position: absolute;
    border-left: 1px solid #e6e6e6;
}

.opl ul li {
    width: 20%;
    float: left;
    position: relative;
    padding: 0 30px;
}

.enquire-form {
    background: url(../images/common/buildings.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.cta-heading-2 img {
    margin: 0 0 20px 0;
}

.cta-heading-2 {
    margin-right: 50px;
}

.cta-heading-2 h2 {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.2;
    padding-bottom: 20px;
    color: #0a2233;
}

.cta-heading-2 p {
    padding-bottom: 20px;
}

.form-block {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    border: 1px solid #e8e8ef;
}

.form-block form {
    padding: 0 20px 30px 20px;
}

.form-block input:focus,
.form-block textarea:focus {
    border: 1px solid #f85359;
}

.form-block input {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    margin: 0 0 10px 0;
    border-radius: 6px;
    color: #172b43;
    font-size: 16px;
    outline: 0;
    background: #fff;
    -webkit-box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    border: 1px solid #e6e6e6;
}

.form-block textarea {
    max-height: 200px;
    width: 100%;
    padding: 15px;
    margin: 0 0 10px 0;
    border-radius: 6px;
    color: #172b43;
    font-size: 16px;
    outline: 0;
    background: #fff;
    -webkit-box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    border: 1px solid #e6e6e6;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #f85359;
    background-color: #f85359;
}

.custom-control-input:focus~.custom-control-label::before {
    -webkit-box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #ffbc80;
}

.custom-control-label::before {
    position: absolute;
    top: -1px;
    left: -1.5rem;
    display: block;
    width: 20px;
    height: 20px;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.custom-control-label::after {
    position: absolute;
    top: -3px;
    left: -26px;
    display: block;
    width: 25px;
    height: 25px;
    content: "";
    background: no-repeat 50%/50% 50%;
}

.custom-control {
    margin-bottom: 10px;
}

.form-block label input {
    height: 20px;
    width: 20px;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
}

.fieldsets label {
    position: relative;
    top: -10px;
    font-size: 14px;
    color: #f85359;
    margin: 0;
    padding: 0;
}

.custom-control label {
    text-indent: -21px;
    padding: 0 0 0 21px;
    font-size: 13px;
}

.form-block label a {
    color: #000;
}

.form-header {
    text-align: center;
    border-bottom: 3px solid #f85359;
    padding: 20px 0 20px 0;
    margin: 0 0 20px 0;
    background-color: #fff5f5;
}

.form-header h2 span {
    font-size: 36px;
    display: block;
    font-weight: 700;
    color: #0a2233;
}

.form-header p {
    text-align: center;
}

.form-block p.trm {
    font-size: 13px;
    width: 100%;
    text-align: center;
    margin: 10px 0 0 0;
}

.form-block p.trm i {
    padding: 5px 5px 0 0;
}

.form-block button:hover {
    background-color: #0a2233;
}

.form-block button {
    font-size: 16px;
    font-weight: 400;
    font-family: Merriweather;
    padding: 0 40px;
    line-height: 60px;
    text-align: center;
    outline: 0;
    color: #fff !important;
    background-color: #f85359;
    border: none;
    border-radius: 6px;
    width: 100%;
    -webkit-box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
    box-shadow: 0 3px 6px rgba(91, 130, 148, 0.08);
}

.pl0 {
    padding-left: 0 !important;
}

footer {
    background: #0a2233;
    padding: 90px 0 25px 0;
    color: #fff;
}

.footer-last a img {
    width: 100px;
}

footer h3 {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 700;
}

.footer-last p {
    text-align: center;
    padding: 25px 0 0 0;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}
                                                                                                                                                                                                                                                                                                                                                                   
.footer-last a {
    display: block;
    margin: 0 0 25px 0;
}


.footerlist li i {
    margin: 0 5px 0 0;
}



.footerlist li {
    font-size: 16px;
    text-indent: -12px;
    padding-left: 25px;
    line-height: 35px;
}



.footer-address-list li a {
    color: #fff;
}

.v-center {
    align-items: center;
    align-self: center;
}

.index2 h1,
.index2 h2 {
    font-family: "DM Serif Display", serif;
    font-weight: 700;
}

.common-heading-2 p {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.4;
}

.h1 {
    font-size: 40px;
    line-height: 55px;
    font-weight: 800;
}

.h2 {
    font-size: 35px;
    line-height: 45px;
    font-weight: 800;
}

.h3 {
    font-size: 25px;
    line-height: 35px;
    font-weight: 800;
}

.h4 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
}

.h5 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

.h6 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}


.gallery-section2 {
    background: #fff5f5;
}

.button1 {
    color: #fff;
    background-color: #f85359;
}



.button2 {
    color: #0a2233;
    background-color: #ffeba1;
}



.bttn {
    font-size: 16px;
    font-weight: 400;
    font-family: Merriweather;
    padding: 0 45px;
    line-height: 60px;
    text-align: center;
    outline: 0;
    border: none;
    border-radius: 6px;
    display: inline-block;
    -webkit-box-shadow: 0 3px 6px rgb(91 130 148 / 8%);
    box-shadow: 0 3px 6px rgb(91 130 148 / 8%);
    top: 0;
    position: relative;
}



.nnv {
    display: flex;
}

.flex {
    display: flex;
}